<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <p>{{ title }}</p>

    <form method="post" id="id_form_download">
        <input type="text" name="btn_download" value="下载列表"
               id="form_download"
               style="display:
         none;">
        起始页：<input type="text" name="start_page" id="start_page">
        结束页：<input type="text" name="end_page" id="end_page">
        <input type="submit" name="btn" value="开始下载">
    </form>

    <div style="height: 30px;background: white;width: 100%"></div>

    <form method="post" id="id_form_show">
        <input type="submit" name="btn_show_list" id="id_btn_show" value="显示列表">
    </form>

    <div style="margin-top: 10px; height: 2px; width: 100%; background:
    black"></div>
    <p> {{ show_download_info }}</p>
    {% if show_download_info %}
    <div>
        <p>下载进度: {{ download_precent }}</p>
    </div>
    {% endif %}

    <script src="../static/js/jquery.min.js"></script>
    <script>
       $.ajax({
           url: "/todo/api/v1.0/tasks",
           type: 'post',
           data: '',
           dataType: 'json',
           success: function (res) {
               console.log(res);
           },
           error: function (xhr, msg, exc) {

           }
        });
    </script>
</body>
</html>